<form name="form.alapForm" novalidate class="">

    <!-- Főkpnyvi szám -->
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group form-group-sm"
                 ng-class="{'has-error':form.alapForm.fokszam.$invalid && form.alapForm.fokszam.$touched}">
                <label class="control-label">Főkönyvi szám</label>

                <select class="form-control" name="fokszam" autofocus
                        ng-required="true"
                        ng-model="tetel.fokszam"
                        ng-options="fok.fokszam as fok.megnevezes for fok in fokszamok">
                    <option value=""> -- Főkönyvi szám --</option>
                </select>
            </div>
        </div>

        <!-- Partnerek -->
        <div class="col-sm-2">
            <div class="form-group form-group-sm"
                 ng-class="{'has-error':form.alapForm.partner.$invalid && form.alapForm.partner.$touched}">
                <label class="control-label">Partner</label>

                <select class="form-control" name="partner"
                        ng-required="true"
                        ng-model="tetel.partner"
                        ng-options="sz.id as sz.nev for sz in szallitok">
                    <option value=""> -- Partnerek --</option>
                </select>
            </div>
        </div>

        <!-- Fizetési mód -->
        <div class="col-sm-2">
            <div class="form-group form-group-sm"
                 ng-class="{'has-error':form.alapForm.fizmod.$invalid && form.alapForm.fizmod.$touched}">
                <label class="control-label">Fizetési mód</label>


                <select class="form-control" name="fizmod"
                        ng-required="true"
                        ng-model="tetel.fizmod"
                        ng-options="fm.id as fm.megnevezes for fm in fizmodok">
                    <option value=""> -- Fizetési módok --</option>
                </select>
            </div>
        </div>


        <!-- Bizonyatszám -->
        <div class="col-sm-2">
            <div class="form-group form-group-sm"
                 ng-class="{'has-error':form.alapForm.bizszam.$invalid && form.alapForm.bizszam.$touched}">
                <label class="control-label">Bizonylatszám</label>


                <input type="text" class="form-control" name="bizszam"
                       ng-required="true"
                       ng-model="tetel.bizszam">
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Teljesítés dátuma -->
        <div class="col-sm-2">
            <div class="form-group form-group-sm"
                 ng-class="{'has-error':form.alapForm.teljdatum.$invalid && form.alapForm.teljdatum.$touched}">
                <label class="control-label">Teljesítés</label>


                <div class="input-group input-group-sm">
                    <input type="text" class="form-control"
                           datepicker-popup
                           is-open="opened"
                           ng-required="true"
                           name="teljdatum"
                           ng-model="tetel.teljdatum">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"
                                ng-click="open($event, 'opened')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>


        <!-- Kiállítás dátuma -->


        <!-- Esedékesség dátuma -->

    </div>

    <div class="row">

        <!-- Megnevezés -->
        <div class="col-sm-3">
            <div class="form-group form-group-sm"
                 ng-class="{'has-error':form.alapForm.megnevezes.$invalid && form.alapForm.megnevezes.$touched}">
                <label class="control-label">Megnevezés</label>
                <input type="text" class="form-control"
                       ng-required="true"
                       name="megnevezes"
                       ng-model="tetel.megnevezes">
            </div>
        </div>

        <!-- Összeg -->
        <div class="col-sm-2">
            <div class="form-group form-group-sm"
                 ng-class="{'has-error':form.alapForm.osszeg.$invalid && form.alapForm.alaposszeg.$touched}">
                <label class="control-label">Összeg</label>
                <input type="number" class="form-control"
                       ng-required="true"
                       name="osszeg"
                       ng-model="tetel.osszeg">
            </div>

        </div>

        <!-- TK Jelleg -->
        <div class="col-sm-2">

            <div class="row">
                <div class="col-sm-12"><label class="control-label">Tartozik / Követel</label></div>
            </div>

            <div class="row">
                <div class="col-sm-12"><label class="radio-inline">
                    <input name="tkjelleg"
                           id="T" value="T"
                           type="radio"
                           ng-model="tetel.tkjelleg"> T
                </label>
                    <label class="radio-inline">
                        <input name="tkjelleg"
                               id="K" value="K"
                               type="radio"
                               ng-model="tetel.tkjelleg"
                               ng-checked="true"> K
                    </label></div>
            </div>
        </div>

    </div>
    <hr/>


    <div class="row">

        <!-- Főkönyvi szám -->
        <div class="col-sm-2">
            <div class="form-group form-group-sm">
                <label class="control-label">Főkönyvi szám</label>

                <select class="form-control" name="fokszam" autofocus
                        ng-model="sor.fokszam"
                        ng-options="fok.fokszam as fok.megnevezes for fok in szamlatukor">
                    <option value=""> -- Főkönyvi szám --</option>
                </select>
            </div>
        </div>

        <!-- Megnevezés -->
        <div class="col-sm-3">
            <div class="form-group form-group-sm">
                <label class="control-label">Megnevezés</label>

                <input type="text" class="form-control" ng-model="sor.megnevezes">
            </div>
        </div>

        <!-- TK Jelleg -->
        <div class="col-sm-2">
            <div class="row">
                <label class="control-label">Tartozik / Követel</label>
            </div>

            <div class="radio-inline">
                <label><input name="tkjelleg" id="T" value="T" type="radio"
                              ng-model="sor.tkjelleg"
                              ng-checked="sor.tkjelleg"> T </label>
            </div>
            <div class="radio-inline">
                <label><input name="tkjelleg" id="K" value="K" type="radio"
                              ng-model="sor.tkjelleg"
                              ng-checked="sor.tkjelleg"> K </label>
            </div>
        </div>

        <!-- Összeg -->
        <div class="col-sm-2">
            <div class="form-group form-group-sm">
                <label class="control-label">Összeg</label>

                <input type="number" class="form-control" ng-model="sor.osszeg">
            </div>

        </div>

        <!-- ÁFA -->
        <div class="col-sm-2">
            <div class="form-group form-group-sm">
                <label class="control-label">ÁFA</label>
                <select class="form-control">
                    <option value=""> -- ÁFA --</option>
                    <option value="1"> 27% ÁFA</option>
                    <option value="2"> 18% ÁFA</option>
                </select>
            </div>
        </div>

        <!-- Jóváhagyás -->
        <div class="col-sm-1">
            <div class="form-group form-group-sm">
                <label class="control-label">Jóváhagyás</label>
                <button type="button"
                        class="btn btn-success form-control"
                        ng-click="addRow()">Mehet
                </button>
            </div>
        </div>
    </div>
    <hr/>
</form>