<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Szállító
                <span class="label label-info pull-right">Sorszám: 1</span>
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend>
                        <span>Szállító</span>
                    </legend>

                    <form name="szallitoForm">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label>Főkönyvi szám</label>
                                    <select class="form-control" name="fokszam"
                                            ng-model="szamla.fokszam"
                                            ng-options="fok.fokszam as fok.megnevezes for fok in fokszamok">
                                        <option value=""> -- Főkönyvi szám --</option>
                                    </select></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label>Partner</label>
                                    <select class="form-control" name="szallito" ng-model="szamla.szallito"
                                            ng-options="sz.id as sz.nev for sz in szallitok">
                                        <option value=""> -- Partnerek --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label>Számlaszám</label>
                                    <input type="text" class="form-control" ng-model="szamla.szamlaszam">
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
            </div>
        </div>

    </div>
</div>